<div class="container-fluid">
  <h2>Product Details</h2>
  <div *ngIf="desc.value">
    <textarea name="" class="description" cols="30" rows="5" disabled>
      <dd>{{details.description}}</dd>
    </textarea>
  </div>
  <div class="form-check form-switch">
    <input type="checkbox" class="form-check-input" ngModel #desc="ngModel">

  </div>



  <dl>
    <dt>Title</dt>
    <dd>{{details.title}}</dd>
    <dt>price</dt>
    <dd>{{details.price}}</dd>
    <dt>description</dt>

    <dt>Image</dt>
    <dd>
    <img [src]="details.image" alt="" height="150" width="350">
    </dd>
    <dt>rating</dt>
    <dd>
      <span class="bi bi-star-fill"></span>
      {{details.rating.rate}}-{{details.rating.count}}
    </dd>
  </dl>
  <div class="mt-2">
  <button class="btn btn-success me-2">
    <span class="bi bi-chevron-left" ></span>
  </button>
  <button  class="btn btn-success me-2">
    <span class="bi bi-chevron-right"></span>
  </button>
  </div>

</div>
