<div class="container">
  <div class="mt-4">
    <table class="table table-hover">
      <thead>
        <tr>
          <td>Product</td>
          <td>index</td>
          <td>Even</td>
          <td>odd</td>
          <td>first</td>
          <td>last</td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of product ;let i = index; let e = even;let o=odd;let f=first;let l =last " >
          <td>
            <img [src]="item.image" alt="" width="75" height="75">
          </td>
          <td>{{i}}</td>
          <td>{{e}}</td>
          <td>{{o}}</td>
          <td>{{f}}</td>
          <td>{{l}}</td>
        </tr>


      </tbody>
    </table>
  </div>
</div>

